<html>
<head>
  <title>change_password</title>
  <script src="../../jquery-2.1.1.js"></script>
  <script>
  function change_password()
  {
    var new_pwd = $("#new_pwd").val();
    var old_pwd = $("#old_pwd").val();
    if(new_pwd && old_pwd)
    {
      $.ajax({
        type:"post",
        url:"change_password",
        dataType:"json",
        data:"old_pwd="+old_pwd+"&new_pwd="+new_pwd,
        success:function(req){
                            if(req.check=='1')
                            {
                                document.getElementById('error').innerHTML="success";
                                location.href = "../home";
                             }
                            else if(req.check=='2'){
                                document.getElementById('error').innerHTML="新密码长度过短！";
                             }
                            else {
                                document.getElementById('error').innerHTML="旧密码错误！";
                            }
                          }
      });

    }
    else {
      alert("please input your new_pwd and old_pwd!");
    }
  }
  </script>
</head>
<body>
  <h1>change_password</h1>
  old_pwd:<input type = "password" id = "old_pwd"/><br>
  new_pwd:<input type = "password" id = "new_pwd"/><br>
  <input type = "button" value = "change"onclick = "change_password()"><br>
  <div id="error"></div>
</body>
</html>
